* {
    margin: 0%;
    
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 7%;
    left: 6%;
    right: 6%;
}

.navleft {
    font: bold 20pt Tahoma;
    color: rgb(122, 31, 240);
    float: left;
    margin-left: 100px;
    margin-right: 400px;
    padding: 15px;
}

.navcenter {
    padding: 25px 25px 45px 25px;  
    margin:0px;
    display: inline-block;
    text-decoration: none;
    list-style:none;
}

.navcenter li {
    display: inline-block;
}

.navcenter li a {
    font: bold 12pt Tahoma;
    color: black;
    padding: 25px 25px 45px 25px;
    text-decoration: none;
}

.navcenter li .home{
    color: rgb(122, 31, 240);
    border-bottom: solid 3px rgb(122, 31, 240);
}

.navcenter li .sobre{
    color: rgb(122, 31, 240);
    border-bottom: solid 3px rgb(122, 31, 240);
}

.navcenter li .contato{
    color: rgb(122, 31, 240);
    border-bottom: solid 3px rgb(122, 31, 240);
}

.navright {
    color: rgb(122, 31, 240);
    background-color: rgb(122, 31, 240);
    float: right;
    margin-right: 100px;
    padding: 25px 35px;
}

.navright li {
    display: inline-block;
}

.navright li a{
    text-decoration: none;
    font-size: 14pt;
    color: white;
    padding: 25px 30px;
}


