* {
    margin: 0%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 3%;
    left: 5%;
    right: 5%;
}

.divtop .navleft {
    font: bold 20pt Tahoma;
    color: rgb(122, 31, 240);
    float: left;
    margin-left: 100px;
    margin-right: 440px;
    padding: 15px;
}

.divtop .navcenter {
    padding: 25px 25px 45px 25px;  
    display: inline-block;
    text-decoration: none;
    list-style:none;
}

.divtop .navcenter li {
    display: inline-block;
}

.divtop .navcenter li a {
    font: bold 12pt Tahoma;
    color: black;
    padding: 25px 25px 45px 25px;
    text-decoration: none;
}

.divtop .navcenter li .home {
    color: rgb(122, 31, 240);
    border-bottom: solid 3px rgb(122, 31, 240);
}

.divtop .navcenter li .sobre {
    color: rgb(122, 31, 240);
    border-bottom: solid 3px rgb(122, 31, 240);
}

.divtop .navcenter li .contato {
    color: rgb(122, 31, 240);
    border-bottom: solid 3px rgb(122, 31, 240);
}

.divtop .navright {
    color: rgb(122, 31, 240);
    background-color: rgb(122, 31, 240);
    float: right;
    margin-right: 100px;
    padding: 25px 35px;
}

.divtop .navright li {
    display: inline-block;
}

.divtop .navright li a {
    text-decoration: none;
    font-size: 15pt;
    color: white;
    padding: 25px 30px;
}


.divcont1 {
    margin: 100px 0px 10px 0px;
    width: fit-content;
}

.divcont1 .navcenter li {
    padding: 25px 25px 45px 0px;  
    display: inline-block;
    text-decoration: none;
    list-style:none;
}

.divcont1 .navcenter li a {
    display: inline-block;
    margin: 0px 100px 0px 250px;
    font: bold 13pt Tahoma;
    text-decoration: none;
    color: rgb(122, 31, 240);
}

.divcont1 .navcenter li a img {
    padding: 5px;
}

.divcont2 {
    width: fit-content;
    margin-left: 100px;
}

.divcont2 .navcenter li {
    display: inline-block;
    text-decoration: none;
    list-style:none;
}

.divcont2 .navcenter li a {
    display: inline-block;
}

.divcont2 .navcenter li a .l {
    padding: 5px;
    margin-right: 50px;
}

.divcont2 .navcenter li a .r {
    padding: 5px;
    margin-left: 50px;
}

.divcont2 .navcenter li p {
    width: 1000px; 
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    font: bold 53pt Verdana;
    color: rgb(58, 17, 87);
}
