* {
    margin: 0%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 3%;
    left: 5%;
    right: 5%;
}

.divtop .navleft {
    font: bold 20pt Tahoma;
    color: #3536B9;
    float: left;
    margin-left: 100px;
    margin-right: 440px;
    padding: 15px;
}

.divtop .navcenter {
    padding: 25px 25px 45px 25px;  
    display: inline-block;
    text-decoration: none;
    list-style:none;
}

.divtop .navcenter li {
    display: inline-block;
}

.divtop .navcenter li a {
    font: bold 12pt Tahoma;
    color: black;
    padding: 25px 25px 45px 25px;
    text-decoration: none;
}

.divtop .navcenter li .home {
    color: #3536B9;
    border-bottom: solid 3px #3536B9;
}

.divtop .navcenter li .sobre {
    color: #3536B9;
    border-bottom: solid 3px #3536B9;
}

.divtop .navcenter li .contato {
    color: #3536B9;
    border-bottom: solid 3px #3536B9;
}

.divtop .navright {
    color: #3536B9;
    background-color: #3536B9;
    float: right;
    margin-right: 100px;
    padding: 20px 20px;
}

.divtop .navright li {
    display: inline-block;
}

.divtop .navright li a {
    text-decoration: none;
    font-size: 15pt;
    color: white;
    padding: 25px 30px;
}

.divtop hr {
    opacity: 30%;
}

.divcont1 {
    margin: 100px 0px 10px 15px;
}

.divcont1 .navcenter li {
    padding: 25px 25px 45px 0px;  
    display: inline-block;
    text-decoration: none;
    list-style: none;
}

.divcont1 .navcenter li a {
    
    margin: 0px 100px 0px 200px;
    font: bold 13pt Verdana;
    text-decoration: none;
    color: #3536B9;
    padding: 20px;
    border-radius: 50px;
    background-color: rgb(248, 247, 247);
}

.divcont2 {
    margin-left: 75px;
    margin-bottom: 70px;
}

.divcont2 .navcenter li {
    display: inline-block;
    text-decoration: none;
    list-style:none;
}

.divcont2 .navcenter li a {
    display: inline-block;
    padding: 20px;
    border-radius: 50px;
    background-color: rgb(248, 247, 247);
}


.divcont2 .navcenter li p {
    width: 1000px; 
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    font: bold 53pt Verdana;
    line-height: 100px;
    color: rgb(35, 8, 54);
}

.divcont3 p{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font: 14pt Tahoma;
    opacity: 25%;
    line-height: 40px;
    color: rgb(35, 8, 54);
}

.divcont4 {
    width: 1500px;
    margin-left: 150px;
    margin-right: 200px;
}

.divcont4 .navcenter li.center {
    width: 700px;
    margin-left: 120px;
    margin-right: 0px;
}

.divcont4 .navcenter li {
    padding: 25px 25px 45px 0px;  
    display: inline-block;
    text-decoration: none;
    list-style: none;
}

.divcont4 .navcenter li .input1 {
    width: 150px;
    padding: 10px 100px 35px 35px;
    border-style: hidden;
    font-size: 13pt;
    opacity: 60%;
    background: url(../imgs/lupa.png) no-repeat scroll 7px 7px;
    background-size: 20px;
    box-shadow: 0 0 4em rgb(224, 203, 203);
}

.divcont4 .navcenter li .input2 {
    width: 150px;
    padding: 10px 100px 35px 35px;
    border-style: hidden;
    font-size: 13pt;
    opacity: 60%;
    background: url(../imgs/local.png) no-repeat scroll 7px 7px;
    background-size: 20px;
    box-shadow: 0 0 4em rgb(224, 203, 203);
}

.divcont4 .navcenter li a {
    display: inline-block;
    font: bold 13pt Verdana;
    text-decoration: none;
    padding: 20px;
    border-radius: 50px;
    background-color: rgb(248, 247, 247)
}

.divcont4 .navcenter li a.search {
    padding: 27px 60px;
    color: rgb(248, 247, 247);
    font-size: 14pt;
    border-radius: 0px;
    background-color: #3536B9;
    margin-right: 70px;
}

.divcont5 {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.divcont5 p {
    color: rgb(116, 118, 119);
}

.divcont5 .span{ 
    font: bold 14pt Verdana;
    color: #3536B9;
}

.divmid1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 1200px;
    margin-top: 150px;
    background-color: rgb(248, 247, 247);
}

.divmid1 header {
    width: 600px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    text-align: center;
    font: bold 35pt Verdana;
    color: rgb(35, 8, 54);
}

.divmid1 .p {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font: 14pt Tahoma;
    opacity: 25%;
    line-height: 40px;
    color: rgb(35, 8, 54);
}

.grid ul {
    width: 1300px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.grid ul li {
    height: 350px;
    width: 390px;
    margin-right: 30px;
    display: inline-block;
    border-radius: 10px;
    background-color: white;
}


.grid ul li img{
    margin: 30px 30px 0px 30px;
    padding: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 0.8em rgb(248, 225, 225);
}

.grid ul li .p1{
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    font: bold 19pt Times;
}

.grid ul li .p2{
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    margin-left: 60px;
    padding: 8px;
    font: bold 13pt Times;    
    border-radius: 10px;
    color: rgb(255, 204, 74);
    background-color: rgb(255, 252, 232);
}

.grid ul li .pm {
    margin: -25px 0px 0px 130px;
    font: 15pt Times;  
    opacity: 40%;
}

.grid ul li .pmid {
    width: 300px;
    margin: 25px 50px 50px 30px;
    font: bold 23pt Times sansserif;  
    color: rgb(35, 8, 54);
}

.grid ul li .progress{
    width: 350px;
    margin-left: 30px;
    height: 3%;
    border-radius: 10px;
    background-color: #0fd439;
    animation: progress-animation 2s;
}

.grid ul li .progress1{
    width: 350px;
    margin-left: 30px;
    height: 3%;
}

@keyframes progress-animation{
    10% { width: 40%; }
}

.grid ul li .pm2 {
    margin: 30px 30px 0px 30px;
    font: 15pt Times;  
    opacity: 40%;
}

.grid ul li .pm3 {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 60px;
    background-color: #3536B9;
}

.grid ul li .pm3 a {
    text-decoration: none;
    text-align: center;
    font: bold 10pt Verdana;
    color: rgb(248, 247, 247);
}

.divmid2 {
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.divmid2 p{
    margin: 100px 0px 100px 370px;
    color: rgb(35, 8, 54);
    font: bold 20pt Verdana;
}

.divmid2 ul li {
    display: inline;
    margin: 0px 27px 0px 42px;
    opacity: 70%;
    list-style: none;
    filter: grayscale();
}

.pai {
    width: 100%;
    border: #3536B9;
    display: flex;
}

.divmid3 {
    width: 500px;
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 230px;
    background-color:  rgb(248, 247, 247);
}

.divmid3 .left .p1 {
    color: #3536B9;
    font: normal 15pt Verdana;
    height: 50px;
}

.divmid3 .left .p2 {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    font: bold 33pt Verdana;
    color: rgb(35, 8, 54);
}

.pai .right {
    display: inline-block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.pai .right .p1 {
    width: 500px;
    height: 150px;
    margin-top: 500px;
    margin-left: -150px;
    font: bold 29pt Verdana;
    color: rgb(35, 8, 54);

}

.pai .right .p2 {
    width: 500px;
    margin-left: -150px;
    text-align: justify;
    font: 15pt Tahoma;
    line-height: 35px;
    opacity: 25%;
    color: rgb(35, 8, 54);
}

.pai .grid2 ul {
    width: 800px;
    margin-top: 30px;
    margin-left: -200px;
    margin-right: auto;
}

.pai .grid2 ul li {
    height: 120px;
    width: 290px;
    margin-right: 30px;
    display: inline-block;
    border-radius: 10px;
    background-color: rgb(248, 247, 247);
}


.pai .grid2 ul li img{
    margin: 30px 30px 0px 30px;
    padding: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 0.8em rgb(248, 225, 225);
}

.pai .grid2 ul li .p3{
    display: inline-block;
    vertical-align: top;
    margin-top: 35px;
    font: bold 14pt Times;
}

.pai .grid2 ul li .p4 {
    margin: -25px 0px 0px 130px;
    font: bold 15pt Times;  
    color: #3536B9;
}
.pai .right a {
    width: 150px;
    position: absolute;
    margin: 75px 0px 0px -150px;
    padding: 30px 30px;
    text-align: center;
    border: solid 2px #3536B9;
    font: 14pt verdana;
    color: #3536B9;
    text-decoration: none;
}

